{
  "log": {
    "_recordingName": "strings_pull/passes branch to the download API",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2f8af8f1b41570fc993738a90bcf717a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": []
          },
          "queryString": [],
          "url": "https://eu.phrase.com/idm/oauth/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1173,
            "text": "{\"access_token\":\"REDACTED\",\"expires_in\":14399,\"issued_token_type\":\"urn:ietf:params:oauth:token-type:access_token\",\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "memsource-action-id",
              "value": "d3828771e3e54a74a3f6beee8334ae14"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 129,
      },
      {
        "_id": "1f705966ff722181e2afbd7d47a6d384",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer REDACTED"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.phrase.com/v2/projects/628d14d653d4a5844e8e92251b9b2e2a/branches/main"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 443,
            "text": "{\"name\":\"main\",\"base_project_id\":\"628d14d653d4a5844e8e92251b9b2e2a\",\"branch_project_id\":\"68d8b7577f12dbcd16df996d5e35d30f\",\"created_at\":\"2026-03-23T20:33:16Z\",\"updated_at\":\"2026-03-23T20:33:18Z\",\"merged_at\":null,\"state\":\"success\",\"child_branches\":[],\"base\":null,\"created_by\":{\"id\":\"17826a3d7ec6f1400304dc7a32e52bb8\",\"username\":\"stefan.bruhns+test-mcp\",\"name\":\"Stefan Bruhns\",\"gravatar_uid\":\"e4ef3ee2ae17f97d689991c8d5cd5691\"},\"merged_by\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"0ea47d7d2f0dc45baac94df3a0359571\""
            },
            {
              "name": "x-generated",
              "value": "2026-03-23T20:45:01+00:00"
            },
            {
              "name": "x-rate-limit-limit",
              "value":[...]
