{
  "log": {
    "_recordingName": "strings_pull/downloads all locales when locale_id contains a placeholder",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2f8af8f1b41570fc993738a90bcf717a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": []
          },
          "queryString": [],
          "url": "https://eu.phrase.com/idm/oauth/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1173,
            "text": "{\"access_token\":\"REDACTED\",\"expires_in\":14399,\"issued_token_type\":\"urn:ietf:params:oauth:token-type:access_token\",\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "memsource-action-id",
              "value": "a3c26624b59740b3b2135c875e4d7c5f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 610,
      },
      {
        "_id": "befc1e926512614da3a8ed3712c23c41",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer REDACTED"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.phrase.com/v2/projects/628d14d653d4a5844e8e92251b9b2e2a/locales"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 619,
            "text": "[{\"id\":\"de4f15f2e3e97fe346ff74cf336bc8e9\",\"name\":\"de\",\"code\":\"de\",\"default\":false,\"main\":false,\"rtl\":false,\"plural_forms\":[\"zero\",\"one\",\"other\"],\"ordinal_plural_forms\":[\"zero\",\"other\"],\"created_at\":\"2026-03-23T20:08:38Z\",\"updated_at\":\"2026-03-23T20:30:33Z\",\"source_locale\":null,\"fallback_locale\":null},{\"id\":\"f582b768ce3fa01e27879e3172a2661d\",\"name\":\"en\",\"code\":\"en\",\"default\":true,\"main\":true,\"rtl\":false,\"plural_forms\":[\"zero\",\"one\",\"other\"],\"ordinal_plural_forms\":[\"zero\",\"one\",\"two\",\"few\",\"other\"],\"created_at\":\"2026-03-23T20:08:34Z\",\"updated_at\":\"2026-03-23T20:08:58Z\",\"source_locale\":null,\"fallback_locale\":null}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"ac6f6534a0d3d0ce22c76df8073d098d\""
            },
            {
              "name": "link",
              "value": "<https://api.phrase.com/v2/projects/628d14d653d4a5844e8e92251b9b2e2a/locales?page=1>; rel=first, <https://api.phrase.com/v2/projects/628d14d653d4a5844e8e92251b9b2e2a/locales?page=1>; rel=last"
            },
            {
              "name": "pagination",
              "value": "{\"total_count\":2,\"total_pages_count\":1,\"current_page\":1,\"current_per_page\":25,\"previous_page\":null,\"next_page\":null}"
            },
            {
              "name": "x-generated",
              "value": "2026-03-23T20:44:51+00:00"
            },
            {
              "name": "x-rate-limit-limit",
              "value": "100"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "37"
            },
            {
              "name": "x-rate-limit-reset",
              "value": "1774298700"
            },
            {
              "name": "x-server",
              "value": "translation-center-web-7f987db8f7-zqn4b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 207,
      },
      {
        "_id": "7e56a1f5bb8e4e1e20e72a459c98293a",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer REDACTED"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"file_format\":\"simple_json\"}"
          },
          "queryString": [],
          "url": "https://api.phrase.com/v2/projects/628d14d653d4a5844e8e92251b9b2e2a/locales/de4f15f2e3e97fe346ff74cf336bc8e9/downloads"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 232,
            "text": "{\"id\":\"5d6f5b1f2aa42f8b65fe9328e4214310\",\"status\":\"processing\",\"result\":null,\"params\":{\"file_format\":\"simple_json\",\"locale_id\":\"de4f15f2e3e97fe346ff74cf336bc8e9\"},\"error\":null,\"created_at\":\"2026-03-23T20:44:51Z\",\"completed_at\":null}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-generated",
              "value": "2026-03-23T20:44:51+00:00"
            },
            {
              "name": "x-rate-limit-limit",
              "value": "100"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "36"
           [...]
