{
  "log": {
    "_recordingName": "strings_push/uploads all files matching the glob pattern",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2f8af8f1b41570fc993738a90bcf717a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": []
          },
          "queryString": [],
          "url": "https://eu.phrase.com/idm/oauth/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1173,
            "text": "{\"access_token\":\"REDACTED\",\"expires_in\":14399,\"issued_token_type\":\"urn:ietf:params:oauth:token-type:access_token\",\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "memsource-action-id",
              "value": "2c60dc7583b54b868065118f415a9b76"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 590,
      },
      {
        "_id": "befc1e926512614da3a8ed3712c23c41",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer REDACTED"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.phrase.com/v2/projects/628d14d653d4a5844e8e92251b9b2e2a/locales"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 619,
            "text": "[{\"id\":\"de4f15f2e3e97fe346ff74cf336bc8e9\",\"name\":\"de\",\"code\":\"de\",\"default\":false,\"main\":false,\"rtl\":false,\"plural_forms\":[\"zero\",\"one\",\"other\"],\"ordinal_plural_forms\":[\"zero\",\"other\"],\"created_at\":\"2026-03-23T20:08:38Z\",\"updated_at\":\"2026-03-23T20:30:33Z\",\"source_locale\":null,\"fallback_locale\":null},{\"id\":\"f582b768ce3fa01e27879e3172a2661d\",\"name\":\"en\",\"code\":\"en\",\"default\":true,\"main\":true,\"rtl\":false,\"plural_forms\":[\"zero\",\"one\",\"other\"],\"ordinal_plural_forms\":[\"zero\",\"one\",\"two\",\"few\",\"other\"],\"created_at\":\"2026-03-23T20:08:34Z\",\"updated_at\":\"2026-03-23T20:08:58Z\",\"source_locale\":null,\"fallback_locale\":null}]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"ac6f6534a0d3d0ce22c76df8073d098d\""
            },
            {
              "name": "link",
              "value": "<https://api.phrase.com/v2/projects/628d14d653d4a5844e8e92251b9b2e2a/locales?page=1>; rel=first, <https://api.phrase.com/v2/projects/628d14d653d4a5844e8e92251b9b2e2a/locales?page=1>; rel=last"
            },
            {
              "name": "pagination",
              "value": "{\"total_count\":2,\"total_pages_count\":1,\"current_page\":1,\"current_per_page\":25,\"previous_page\":null,\"next_page\":null}"
            },
            {
              "name": "x-generated",
              "value": "2026-03-23T20:45:22+00:00"
            },
            {
              "name": "x-rate-limit-limit",
              "value": "100"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "88"
            },
            {
              "name": "x-rate-limit-reset",
              "value": "1774299000"
            },
            {
              "name": "x-server",
              "value": "translation-center-web-7f987db8f7-r5jmf"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 165,
      },
      {
        "_id": "41dbb335db129532986ca0f4038cfccf",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer REDACTED"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain",
            "params": []
          },
          "queryString": [],
          "url": "https://api.phrase.com/v2/projects/628d14d653d4a5844e8e92251b9b2e2a/uploads"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 333,
            "text": "{\"id\":\"5611d494673eae7ebfce2fb7eb61b1fb\",\"filename\":\"de.json\",\"format\":\"simple_json\",\"state\":\"processing\",\"created_at\":\"2026-03-23T20:45:22Z\",\"updated_at\":\"2026-03-23T20:45:22Z\",\"summary\":{},\"tag\":null,\"tags\":[],\"url\":\"https://app.phrase.com/accounts/stefan-test/projects/mcp-pull-push-test/uploads/5611d494673eae7ebfce2fb7eb61b1fb\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"03ef46e1a082b5853d80714b1af8095e\""
            },
            {
              "name": "x-generated",
              "value": [...]
